.App{
  text-align: center;
}
nav ul{
list-style: none;
 color: black;
}

nav ul li {
  display:  inline-block;
  padding: 10px;
 
}

input{
  margin: 1rem;
}
form{
  width: 350px;
  border-style: inset;
  margin: 1rem auto;
}